[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "expperm"]
	path = expperm
	url = https://github.com/cran/expperm
[submodule "regspec"]
	path = regspec
	url = https://github.com/cran/regspec
